
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}


body {
    background-color: rgb(246, 255, 203);
}

main {
    display: flex;
    justify-content: space-around;
    align-content: space-around;

}

h1 {
    margin: 30px;
}

a {
    font-size: xx-large;
    border: 5px;
}

#recipeSelector{
    justify-content: center;
    min-height: 100vh;
    min-width: 50vw;
    
}

#groceriesSelected{
    justify-content: center;
    min-height: 100vh;
    min-width: 30vw;
    
}

#recipeTypes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-area: auto;
}

#mainDishesLink { grid-area: 1 / 1 / 2 / 2; padding-left: 50px; padding-bottom: 25px;}
#saladsLink { grid-area: 1 / 2 / 2 / 3; padding-left: 90px; padding-bottom: 25px;}
#sideDishesLink { grid-area: 1 / 3 / 2 / 4; padding-left: 60px; padding-bottom: 25px;}
#appetizersLink { grid-area: 2 / 1 / 3 / 2; padding-left: 60px; padding-bottom: 25px;}
#tortillasLink { grid-area: 2 / 2 / 3 / 3; padding-left: 85px; padding-bottom: 25px;}
#pastaAndNoodlesLink { grid-area: 2 / 3 / 3 / 4; padding-left: 25px; padding-bottom: 25px;}
#casseroleLink { grid-area: 3 / 1 / 4 / 2; padding-left: 65px; padding-bottom: 25px;}
#soupsLink { grid-area: 3 / 2 / 4 / 3; padding-left: 95px; padding-bottom: 25px;}
#breadsLink { grid-area: 3 / 3 / 4 / 4; padding-left: 95px; padding-bottom: 25px;}
#bulkLink { grid-area: 4 / 1 / 5 / 2; padding-left: 105px; padding-bottom: 25px;}
#cakeAndPieLink { grid-area: 4 / 2 / 5 / 3; padding-left: 45px; padding-bottom: 25px;}
#cookiesLink { grid-area: 4 / 3 / 5 / 4; padding-left: 85px; padding-bottom: 25px;}
#pastriesLink { grid-area: 5 / 1 / 6 / 2; padding-left: 80px; padding-bottom: 25px;}
#otherRecipiesLink { grid-area: 5 / 2 / 6 / 4; padding-left: 100px; padding-bottom: 25px;}




#recipeDisplay{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    min-height: calc(100vh - 70%);
    background-color: rgb(158, 226, 255);

}

#groceryList{
    justify-content: center;
    align-items: center;
    align-content: space-around;
    min-height: calc(100vh - 70%);
    background-color: rgb(255, 123, 123);
    
}

#generateGroceryListBtn{ 
    justify-self: center;
    align-self: center;
    background-color: aquamarine;
    height: 50px;
    width: 250px;
    font-size: x-large;
}

#recipiesSelected {
    justify-content: center;
    align-items: center;
    align-content: space-around;
    min-height: calc(100vh - 70%);
    flex-wrap: wrap;
    background-color: aliceblue;
    
}

#recipeTypesTitle {
    font-size: larger;
    align-self: flex-start;
    background-color: lightgreen;
}

#recipeDisplayTitle {
    font-size: larger;
    align-self: flex-start;
    margin-top: 80px;
    background-color: lightgreen;
}

#ingredientListTitle {
    font-size: larger;
    align-self: flex-start;
    background-color: lightgreen;
}

#recipiesSelectedTitle {
    font-size: larger;
    align-self: flex-start;
    margin-top: 80px;
    background-color: lightgreen;
}

